@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900');

.aling-center{float:none;margin:0 auto;text-align:center;}
.aling-right{float:right;text-align:right;}
.aling-left{float:left;text-align:left;}

html,
body,
header
{
    font-family: 'Rubik', sans-serif;
    font-weight: 300!important;
}

:root{
    --color-primary: #69327F;
    --color-dark: #4e245e;
    --color-accent: #34c2e0;
    --color-gray: #E6EBEB;
    --color-orange: #FDBE46;
    --danger-color: #ff4444;
}


.text-black{
  color: #212121!important;
}

.grey-text {
    color: #212121!important;
}

.number{
  font-family: 'Lato', sans-serif;
}

.btn{
  font-weight: 600!important;
  width: 220px;
}


.button-accent {
    background-color: var(--color-accent)!important;
    color: #fff!important;
}

.button-orange {
    background-color: var(--color-orange)!important;
    color: #fff!important;
}

.button-danger{
    background-color: var(--danger-color);
    color: #fff;color: #212121!important;
}

.my-background{
    height: 100%;
    background-color: var(--color-dark)!important;
}

.message{
    margin: .375rem;
    border: 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: 1rem;
}
.btn-rounded {
    -webkit-border-radius: 10em;
    border-radius: 10em;
}

.bg-darkPurple {
    background-color: var(--color-dark);
}

.pt-80 {
    padding-top: 80px;
}

.bold {
    font-weight: 700;
}

html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }


@media screen and (max-width: 600px) {

  .logo{
    margin-top: 2%!important;
    margin-bottom: -5% !important;
    width: 120px !important;
  }

}

progress {
  height: 15px;
}

#info-icon{
  margin-left: 10px;
}
.p-info{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0!important;
  padding-bottom: 0;
}
.alert-dismissible .close {
  padding: .25rem 1.25rem!important;
}
.lp-star{
  width: 50px;
}

.btn-lp{
  text-align: center;
  width: 100%;
}

.close{
  font-size: 40px
}

.alert{
  margin-bottom: 0;
}

input {
  border:none;
}

.item-init{
    border-top: #ffffff 0.5px solid;
}

.name-client{
  border-bottom: 1px #FFF solid;
}

input:disabled, textarea:disabled {
    background-color: #fff;
    color: #212121!important;
}

.horizontalCenter{
  margin-top: 2%;
}

.some-text{
  color: #fff;
  font-size: 25px;
}

#cards{
    padding-top: 20px;
}
.item-card{
    padding: 0 5px 0 5px;
}

.my-cards{
  font-size: 10px!important;
}

.form-control{
    font-size: 16px;

}
.title-card{
  font-size: 20px;
}

.loader{
    width: 100%;
    height: 100%;
    background: url(../images/loader.gif) center no-repeat #FFF;
    border-radius: 0.25em;
    padding: 40px 0px;
}

.loader > * {
    display: none !important;
}

.stars {
  margin-bottom: 8px;
    margin-right: 5px;
    position: relative;
    display: inline-block !important;
    width: 40px !important;
}

.div-stars {
    width: 260px!important;
}

.star--shadowed {
  -webkit-filter: drop-shadow(0px 0px 1px #feda44);
  filter: drop-shadow(0px 0px 1px #feda44);
}

.logo{
    margin-top: 5%;
    width: 160px;
}

.logo-mini{
  width: 50px;
}

.title{
  font-size: 30px;
  margin-top: -10px;
  margin-bottom: -10px;
  color: #FFF;
}

tspan{
  font-size: 12px;
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    outline: 0;
    height: 38px;
    line-height: 2.9rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 .94rem 0;
    padding: 0;
    display: block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.select-wrapper .select-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button, input {
    overflow: visible;
}

.large-select {
  background:  var(--color-primary);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  padding: 5px;
  width: 200px;
}

.label-info {
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: -10px;
}

#starAmount::-webkit-outer-spin-button,
#starAmount::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.iconButton {
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  outline: none !important;
  padding: 0;
}

.iconButton:hover{
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  outline: 0;
}

.iconButton > i {
  margin: 0;
}